script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js')

if env === 'development'
  script
    //- //- Because I don't have Internet Connection at my house rn
    //- include:js scripts/jquery.js
    //- include:js scripts/lodash.js
    include:js scripts/phaser.js
  script(src="#{cdn}javascripts/_app.js")
else
  script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.2/phaser.min.js')
  script(src="#{cdn}javascripts/_app.min.js")


//- inject things with include
yield

script
  | var ga_account = "#{google_analytics}";
  include:js scripts/ga.js
